body {
    padding: 1rem;
    text-align: center;
  }
  h1{
    font-size: 2rem;
  }
  p {
    font-family: Cambria Math, sans-serif;
  }

  .calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #6B9080;
    color: black;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }