<div>
    <h2>Crear Cliente</h2>

    <!-- Formulario para crear cliente -->
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" [(ngModel)]="selectedCliente.cedula" name="cedula" required>
        </div>
        <div>
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" [(ngModel)]="selectedCliente.direccion" name="direccion" required>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="selectedCliente.nombre" name="nombre" required>
        </div>
        <button type="submit">Guardar</button>
        <button type="button" (click)="resetForm()">Cancelar</button>
    </form>

    <h2>Lista de Clientes</h2>
    <ul>
        <li *ngFor="let cliente of clientes">
            {{ cliente.cedula }} - {{ cliente.nombre }} - {{ cliente.direccion }}
        </li>
    </ul>
</div>