<header>
    <div class="container">
        <h1>Calculadora</h1>
        <nav>
            <ul>
                <li><a routerLink="inicio">Inicio</a></li>
                <li><a routerLink="acercade">Acerca de</a></li>
                <li><a routerLink="suma">Suma</a></li>
                <li><a routerLink="resta">Resta</a></li>
                <li><a routerLink="multi">Multiplicación</a></li>
                <li><a routerLink="div">División</a></li>
                <li><a routerLink ="serviceJava">Servicio Java</a></li>
            </ul>
        </nav>
    </div>
    
</header>
